{% extends 'base.html.twig' %}

{% block title %}Modifier un auteur{% endblock %}

{% block body %}
<h1>Modifier l'auteur "{{ author.username }}"</h1>

{{ form_start(form) }}
  {{ form_row(form.username) }}
  {{ form_row(form.email) }}
  {{ form_row(form.nb_books) }}

  <button type="submit">Mettre à jour</button>
{{ form_end(form) }}

<p><a href="{{ path('app_author_index') }}">Retour à la liste</a></p>
{% endblock %}
